body
{
    font: Arial, sans-serif;
}

input[type="text"], input[type="password"] {
    margin: 4px;
    width: 70%;
}

.buttonArea,
.footerText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.km-ios .km-header { background: #E6E6E6; }

.k-invalid-msg
{
    background: rgba(255, 0, 0, .2);
    padding: 2px 5px 2px 4px;
    position: absolute;
    right: 0;
    font-size: .6rem;
    top: 0;
}

    .km-android .k-invalid-msg { background: rgba(255, 0, 0, .6); }

/* Modals */

.km-ios .km-modalview .km-header { background: #D88E2E; }

.km-modalview .km-content .message {
    padding: 20px;
}

/* Navigation */
.km-footer .km-tabstrip {
    background: #D88E2E;
    background: -moz-linear-gradient(top,  #e0a558 0%, #e0a558 50%, #d88e2e 50%, #d88e2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0a558), color-stop(50%,#e0a558), color-stop(50%,#d88e2e), color-stop(100%,#d88e2e));
    background: -webkit-linear-gradient(top,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
    background: -o-linear-gradient(top,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
    background: -ms-linear-gradient(top,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
    background: linear-gradient(to bottom,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
}

.km-ios .km-tabstrip {
    box-shadow: none;
    -webkit-box-shadow: none;
}
    .km-ios .km-tabstrip .km-button {
        border: 0 solid transparent;
        box-shadow: none;
    }
    .km-ios .km-tabstrip .km-icon { 
        color: rgba(255,255,255,.5);
        background-image: none;
    }
    .km-ios .km-tabstrip .km-text { 
        color: rgba(255,255,255,.5);
        text-shadow: none;
    }
    .km-ios .km-tabstrip .km-badge { display: block; }

.km-icon::before, .km-contactadd::before, .km-rowdelete::before, .km-rowinsert::before, .km-detaildisclose::before { color: transparent; }
.km-ios .km-tabstrip .km-state-active .km-icon, .km-android .km-tabstrip .km-state-active .km-icon, .km-ios .km-tabstrip .km-state-active .km-text { color: #fff; }

.km-android .km-tabstrip .km-badge { 
    bottom: -0.3em;
    font-size: 10px;
    background: #D88E2E;
}

.km-android .km-buttongroup .km-state-active,
.km-android .km-navbar .km-buttongroup .km-state-active,
.km-android .km-touch-scrollbar,
.km-ios .km-header > .km-buttongroup .km-state-active,
.km-ios .km-footer > .km-buttongroup .km-state-active,
.km-ios .km-content .km-buttongroup .km-state-active
    { background: #D88E2E; }

/* Login & Register */

#login-view .km-content, #register-view .km-content {
    padding: 20% 0 0;
    text-align: center;
}

.km-horizontal #login-view .km-content, .km-horizontal #register-view .km-content { padding: 10px 0 0; }

#login-view .km-content input[type="text"],
#login-view .km-content input[type="password"],
#register-view .km-content input[type="text"],
#register-view .km-content input[type="password"] {
    display: block;
    margin: 10px auto;
}

/* Account View */
#login-view { font-weight: normal; }

#login-view ul {
    list-style-type: none;
    padding: 0;
}

#account-view header h2 {
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}
    .km-android #account-view header h2 { color: #fff; }

.order-history-list li .order-number { 
    float: left;
    margin: 5px 0;
}
.order-history-list li .order-total { 
    float: right;
    margin: 5px 1rem 5px 0;
}
.order-history-list li .order-date { 
    clear: both;
    display: block;
    font-weight: normal;
    font-size: 12px;
}

.km-android .order-history-list li .km-group-title {
    border-top: 2px solid #aaa;
}

.order-history-list li span {
    font-size: 15px;
}
    .order-history-list li .item-title {
        float: left;
        display: block;
        width: 55%;
    }
    .order-history-list li .item-quantity {
        float: right;
    }

/* Main View */

.km-buttongroup a
{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.album-art
{
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.album-artist
{
    font-size: .8em;
}

.album-price
{
    font-size: .7em;
    font-style: italic;
}

.album-cart
{
    float: right;
}

.album-cart .km-icon.km-add, .album-cart .km-icon.cartQty
{
    font-size: .6em;
    margin-right: .8em;
    vertical-align: middle;
}

.album-cart .km-icon.cartQty {
    padding-bottom: .45em;
}

.km-android #artists-view .km-buttongroup
{
    padding: 4px;
}

#artists-view .buttongroup.km-buttongroup .km-button
{
    padding: 0;
}

#artists-view .buttongroup.km-buttongroup .km-button a
{
    height: 1em;
    padding: .12em .2em .28em .2em;
    font-size: 2em;
    width: 1em;
    text-align: center;
}

#cart-view input[type="number"]
{
    min-width: 3.01em;
    width: 100%;
    border: 1px solid #999;
    position: relative;
}

.km-ios .km-list .km-icon
{
    color: #fff;
}

.km-tabstrip .km-badge
{
    top: 0;
    right: 0;
}

.search-container {
    text-align: center;
}

.km-ios .search-container {
    padding: 10px;
}

.km-ios .search-container input[type="text"] {
    padding: 2px 2px 6px 2px;
    margin: 0;
    line-height: 20px;
    height: 16px;
}

.km-ios .search-container a {
    margin: 0;
}

#about-view footer
{
    text-align: center;
}

#about-view .km-insetcontent {
    padding: 10px 0 0;
}

/* Cart */

.km-android .cart-header { margin-bottom: 1em; }

.cart-header h3 {
    padding: 5px 0;
    background: #E6E6E6;
    font-weight: normal;
    text-align: center;
}

    .km-android .cart-header h3 { background: #999; }

.cart-header h1 {
    padding: 5px 0;
    background: #fff;
    text-align: center;
}

    .km-android .cart-header h1 {
        background: #333;
        color: #ddd;
    }

.album-cart {
    margin-left: 10px;
}

#checkout-view input
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    font-size: 1rem;
}

#checkout-view section {
    padding: 0;
}

/* Shipping */

.validate {
    padding: 10px 10%;
}

.validate label { 
    display: block; 
    margin-top: 10px;
}

.km-android .validate label {
    color: #555;
    margin-bottom: 10px;
}

.validate input {
    margin: 0 5px 10px 0;
    padding: 0;
}

.thank-you {
    margin: 20% auto;
    text-align: center;
}

/* Album Lists */
.km-listview h1, .km-listview h2 {
    margin: 0;
    font-size: 16px;
    margin-left: 60px;
}

.km-listview h2 { 
    font-weight: normal;
}

.km-listview .album-price { 
    display: block;
    margin-left: 60px;
}

.km-listview .qty-and-price {
    font-size: 16px;
    float: right;
    width: 50px;
    margin-left: 10px;
}

.km-listview .qty-and-price strong {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.km-listview .subtotal {
    font-size: 12px;
    clear: both;
    text-align:right;
    padding-top: 10px;
}

/* About */

.km-ios #about-view .km-content { 
    background: url('../Images/rays-background.png') no-repeat;
    background-size: cover;
}

.km-ios .km-horizontal #about-view .km-content { 
    background: url('../Images/rays-background-horizontal.png') no-repeat 50% 50%;
}

#about-view h1 {
    font-size: 1.7em;
    text-align: center;
}

#about-view img {
    margin: 20px auto 5px;
    display: block;
}

.km-ios #about-view h1, .km-ios #about-view p { color: #000; }

#about-view p { text-align: center; }

#about-view .footer-images {
    text-align: center;
    margin: 0 10% 20px;
}

    #about-view .footer-images img {
        width: 80%;
        background: #fff;
        padding: 5px 20px 10px;
        border-radius: 5px;
    }

#about-view footer .km-button
{
    padding: 10px;
}

#body .cart-delete-button
{
    background-color: #900;
}

/* Make Android look more like the v4.x style guide. */

.km-android .km-navbar
{
    height: 48px;
}

.km-android.km-horizontal .km-view-title
{
    line-height: 2.5em;
}

.km-android.km-horizontal .km-tabstrip .km-text
{
    margin-top: 0;
}

.km-android .km-view {
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.km-view-title {
    visibility: visible;
}

.km-android .km-view-title {
    text-align: left;
    padding-left: 60px;
}

.km-android .km-view-title img {
    vertical-align: middle;
}

.km-android .km-back,
.km-android .km-navbar .km-button.km-back,
.km-android .km-toolbar .km-button.km-back,
.km-android .app-icon {
    background-image: url("../Images/icon.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin: 6px 0 0 .8rem;
    padding: 0;
}

.km-android .app-icon {
    height: 36px;
}

.km-android .km-back * {
    visibility: hidden;
}

.km-android .km-back::before {
    border-color: #777;
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -0.32rem;
    margin-left: -0.7rem;
    border-style: solid;
    border-width: 0 0 .24rem .24rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: middle;
}

.km-android .km-navbar {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpi/P//vwoDFHz9+vUzDw8PJ5ApDBMrKCj4DyKMQAph+MuXL+JAOQUgNkbCDMZEKIQwCChEGItHIar9WBVicyi6QgZcPkJWyIDP6zCFAAEGAPRWfgx4dcnyAAAAAElFTkSuQmCC);
    background-repeat: repeat;
    background-position: 0;
}

.km-android .km-navbar div {
    display: inline-block;
}

.km-android .km-navbar [class*="item"] .action-buttons .km-button {
    padding: 0;
}

.km-android .action-buttons .km-button .km-icon {
    font-size: 1.5rem;
    margin:.8rem .5rem;
}

.km-root .km-pane .km-view .km-action-overflow {
    background-size: 100% 100%;
    -webkit-background-clip: border-box;
    background-color: white;
    -webkit-mask-box-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAACXBIWXMAAAsSAAALEgHS3X78AAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAAZQTFRF////////VXz1bAAAAAF0Uk5TAEDm2GYAAAATSURBVAjXY2DAD9gP4CBorA4GAIMLC6rA1btaAAAAAElFTkSuQmCC);
}

.km-android .km-tabstrip a
{
    color: #a8a8a8;
}

.km-android .km-tabstrip .km-text
{
    margin-top: 0;
    text-indent: 0;
    font-size: 1em;
}

.km-android .km-tabstrip .km-icon {
    display: none;
}

#body .km-android .search-text
{
    font-size: 1em;
    width: 100%;
    margin-right: -36px;
}

.km-root .km-android .km-show-title::after
{
    display: none;
    content: "";
}
