body
{
    font: Arial, sans-serif;
}

input[type="text"], input[type="password"] {
    margin: 4px;
    width: 70%;
}

.buttonArea,
.footerText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.km-ios .km-header { background: #E6E6E6; }

/* Modals */

.km-ios .km-modalview .km-header { background: #D88E2E; }

.km-modalview .km-content .message {
    padding: 20px;
}

/* Navigation */
.km-footer .km-tabstrip {
    background: #D88E2E;
    background: -moz-linear-gradient(top,  #e0a558 0%, #e0a558 50%, #d88e2e 50%, #d88e2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0a558), color-stop(50%,#e0a558), color-stop(50%,#d88e2e), color-stop(100%,#d88e2e));
    background: -webkit-linear-gradient(top,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
    background: -o-linear-gradient(top,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
    background: -ms-linear-gradient(top,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
    background: linear-gradient(to bottom,  #e0a558 0%,#e0a558 50%,#d88e2e 50%,#d88e2e 100%);
}

.km-ios .km-tabstrip {
    box-shadow: none;
    -webkit-box-shadow: none;
}
    .km-ios .km-tabstrip .km-icon { 
        color: rgba(255,255,255,.5);
        background-image: none;
    }
    .km-ios .km-tabstrip .km-text { color: rgba(255,255,255,.5); }
    .km-ios .km-tabstrip .km-badge { display: block; }

.km-icon::before, .km-contactadd::before, .km-rowdelete::before, .km-rowinsert::before, .km-detaildisclose::before { color: transparent; }
.km-ios .km-tabstrip .km-state-active .km-icon, .km-android .km-tabstrip .km-state-active .km-icon, .km-ios .km-tabstrip .km-state-active .km-text { color: #fff; }

.km-android .km-tabstrip .km-badge { 
    bottom: -0.3em;
    font-size: 10px;
    background: #D88E2E;
}

.km-android .km-buttongroup .km-state-active,
.km-android .km-navbar .km-buttongroup .km-state-active,
.km-android .km-touch-scrollbar,
.km-ios .km-header > .km-buttongroup .km-state-active,
.km-ios .km-footer > .km-buttongroup .km-state-active,
.km-ios .km-content .km-buttongroup .km-state-active
    { background: #D88E2E; }

/* Starburst Background Views */

#about-view .km-content { 
    background: url('/Images/rays-background.png') no-repeat;
    background-size: cover;
}

.km-horizontal #about-view .km-content { 
    background: url('/Images/rays-background-horizontal.png') no-repeat 50% 50%;
}

/* Login & Register */

#login-view .km-content, #register-view .km-content {
    padding: 40% 0 0;
    text-align: center;
}

#login-view .km-content input[type="text"],
#login-view .km-content input[type="password"],
#register-view .km-content input[type="text"],
#register-view .km-content input[type="password"] {
    display: block;
    margin: 10px auto;
}

/* Main View */

.km-buttongroup a
{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.album-art
{
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.album-artist
{
    font-size: .8em;
}

.album-price
{
    font-size: .7em;
    font-style: italic;
}

.album-cart
{
    float: right;
}

.album-cart .km-icon.km-add, .album-cart .km-icon.cartQty
{
    font-size: .6em;
    margin-right: .8em;
    vertical-align: middle;
}

.album-cart .km-icon.cartQty {
    padding-bottom: .45em;
}

.km-android #artists-view .km-buttongroup
{
    padding: 4px;
}

#artists-view .buttongroup.km-buttongroup .km-button
{
    padding: 0;
}

#artists-view .buttongroup.km-buttongroup .km-button a
{
    height: 1em;
    padding: .12em .2em .28em .2em;
    font-size: 2em;
    width: 1em;
    text-align: center;
}

#cart-view input[type="number"]
{
    min-width: 3.01em;
    width: 100%;
    border: 1px solid #999;
    position: relative;
}

.km-ios .km-list .km-icon
{
    color: #fff;
}

.km-tabstrip .km-badge
{
    top: 0;
    right: 0;
}

.k-invalid-msg
{
    background: rgba(255, 0, 0, .2);
}

.search-container {
    text-align: center;
}

.km-ios .search-container {
    padding: 10px;
}

.km-ios .search-container input[type="text"] {
    padding: 2px 2px 6px 2px;
    margin: 0;
    line-height: 20px;
    height: 16px;
}

.km-ios .search-container a {
    margin: 0;
}

#about-view footer
{
    text-align: center;
}

#about-view .km-insetcontent {
    padding: 10px 0 0;
}

/* Cart */

.cart-header {
    text-align: center;
}
    .cart-header h3 {
        padding: 5px 0;
        background: #E6E6E6;
        font-weight: normal;
    }
    .cart-header h1 {
        padding: 5px 0;
        background: #fff;
    }
.album-cart {
    margin-left: 10px;
}

/* Album Lists */
.km-listview h1, .km-listview h2 {
    margin: 0;
    font-size: 16px;
    margin-left: 60px;
}

.km-listview h2 { 
    font-weight: normal;
}

.km-listview .album-price { 
    display: block;
    margin-left: 60px;
}

.km-listview .qty-and-price {
    font-size: 16px;
    float: right;
    width: 50px;
    margin-left: 10px;
}

.km-listview .qty-and-price strong {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.km-listview .subtotal {
    font-size: 12px;
    clear: both;
    text-align:right;
    padding-top: 10px;
}

/* About */

#about-view h1 {
    background: url('/Images/awesomesauce-logo.png') no-repeat 50% 0;
    padding-top: 80px;
    font-size: 1.7em;
    text-align: center;
    color: #000;
}

#about-view p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

#about-view .footer-images
{
    text-align: center;
    padding: 15px 10px 10px;
    margin: 0 10%;
}

    #about-view .footer-images img {
        width: 80%;
        background: #fff;
        padding: 5px 20px 10px;
        border-radius: 5px;
    }

#about-view footer .km-button
{
    padding: 10px;
}