body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

/* Main View */

.km-header .select-group.km-buttongroup
{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #EEE;
}

.km-buttongroup a
{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.album-art
{
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.album-artist
{
    font-size: .8em;
}

.album-price
{
    font-size: .7em;
    font-style: italic;
}

.album-cart
{
    float: right;
}

.album-cart .km-icon.km-add
{
    width: 0.5em;
    height: 0.5em;
    vertical-align: middle;
}

.km-android #artists-view .km-buttongroup
{
    padding: 4px;
}

#artists-view .buttongroup.km-buttongroup .km-button
{
    padding: 0;
}

#artists-view .buttongroup.km-buttongroup .km-button a
{
    height: 1em;
    padding: .12em .2em .28em .2em;
    font-size: 2em;
    width: 1em;
    text-align: center;
}

#cart-view input[type="number"]
{
    max-width: 3em;
    min-width: 3em;
    width: 3em;
    border: 1px solid #999;
    position: relative;
}