.km-listview-index
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    margin: 0 5px 0 0;
    padding: 10px 0;
    list-style-type: none;
    font-size: 8px;
    font-weight: normal;
    color: #999;
    border-radius: 10px;
}
.km-android .km-listview-index { font-size: 10px; }
    .km-listview-index li {
        padding: 0px 10px;
        text-align: center;
    }
.km-listview-index.km-ontouch
{
    background-color: rgba(255,255,255,.4);
}

.km-listview-index-card
{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 2em;
    height: 2em;
    padding-top: 1em;
    font-size: 1.5em;
    border: 3px solid #444;
    color: #444;
    border-radius: 5px;
    z-index: 1001;
    text-align: center;
    background-color: #ddd;
}