.km-listview-index
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    margin: 0 5px 0 0;
    padding: 10px 0;
    list-style-type: none;
    font-size: 8px;
    font-weight: normal;
    color: #999;
    border-radius: 10px;
}
.km-android .km-listview-index { font-size: 10px; }
    .km-listview-index li {
        padding: 0px 10px;
        text-align: center;
    }
.km-listview-index.km-ontouch
{
    background-color: rgba(255,255,255,.4);
}
